@import '../../../variables';

.common-page {
    height: $height-header;

    .common-page-content {
        background-color: $background-body;

        .common-page-name {
            padding-left: $base*4;
            font-size: $heading-for-page;
            font-weight: 500;
            color: $color-fonts-dark;
        }

        .layout-nav-bar {
            .ul-nav-bar-menu, .common-page-menu {
                padding: 0; margin: 0;
                list-style: none;

                .link-nav-bar-item {
                    text-decoration: none;

                    .li-nav-bar-item {
                        margin-left: 35px;
                        font-weight: 500;
                        color: $color-fonts-dark;

                        &:hover {outline: none}
                        &:hover {border-bottom: 2px solid}

                        .name-nav-bar-link {
                            .mark-item-nav-bar {
                                width: $base*6;
                                height: $base*4;
                                margin: $base 0 0 $base;

                                text-align: center;
                                color: $color-fonts-light;
                                border-radius: 50%;
                                background-color: $color-fonts-dark;
                            }
                        }
                    }
                }
            }
        }

        .user-block {
            .user-name {
                margin: 0 $base2;

                .user-notification{
                    width: $base2;
                    height: $base2;
                    border-radius: 50%;
                    background-color: $color-fonts-dark;
                }
            }

            .user-avatar {
                width: $base*10;
                height: $base*10;
                border-radius: $base*2;
                background-color: $yellow;
            }
        }
    }
}

.dark-theme {
    .common-page {
        .common-page-content {
            background-color: $background-body-dark;

            .common-page-name {
                color: $color-fonts-light;
            }

            .layout-nav-bar {
                .ul-nav-bar-menu, .common-page-menu {
                    padding: 0; margin: 0;
                    list-style: none;

                    .link-nav-bar-item {
                        text-decoration: none;

                        .li-nav-bar-item {
                            color: $color-fonts-light;

                            .name-nav-bar-link {
                                .mark-item-nav-bar {
                                    color: $color-fonts-dark;
                                    background-color: $color-fonts-light;
                                }
                            }
                        }
                    }
                }
            }

            .user-block {
                .user-name {
                    .user-notification{
                        background-color: $color-fonts-light;
                    }
                }
            }
        }
    }
}
