@import 'src/Components/variables.scss';

.layout-topbar {
    width: 100%;
    height: $topbar-height;
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: $border-default;
}

.header {
    height: $header-height;
    margin-top: $topbar-height;

    .layout-title {
        height: $base*13;// 39px
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-family: initial;
        font-size: $heading;
        font-weight: bold;
    }

    .layout-navbar {
        .ul-navbar-menu {
            margin: 0;
            padding: $base 0 0 0;
            display: flex;
            justify-content: flex-start;
            list-style: none;

            .li-navbar-item {
                display: flex;
                flex-flow: column;
                justify-content: center;
                padding: 0 $base*5;

                &:last-child { margin-right: 0 }

                .a-navbar-link {
                    text-align: center;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.styled-body {
    padding-top: calc($topbar-height + $header-height + $header-tabbar);
    background-color: $background-body;

    .styled-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 50px;
        padding: 0 16px;
        box-sizing: border-box;
    }
}

.layout-tabbar {
    width: 100%;
    height: $header-tabbar;// 45px
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: $border-default;
}
