.layout-header {
    width: 100%;
    height: 199px;
    padding: 0 20px;
    position: fixed;
    top: 0;

    z-index: 1;
    box-sizing: border-box;
    border-bottom: 1px solid $gray-200;
    color: black;

    .layout-title {
        height: 130px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-family: initial;

        .layout-title-text {
            font-weight: 600;
        }
    }

    .layout-navbar {
        .ul-navbar-menu {
            margin: 0;
            padding: 0;

            display: flex;
            justify-content: flex-start;

            list-style: none;
            .li-navbar-item {
                display: flex;
                flex-flow: column;
                justify-content: center;

                margin-right: 30px;
                &:last-child { margin-right: 0 }

                .a-navbar-link {
                    // color: $red;
                    font-weight: 500;

                    &:hover {
                        opacity: 0.6;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.styled-body {
    padding-top: calc(199px + 15px);
    padding-bottom: 50px;

    .styled-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
        padding: 0 16px;
        
        box-sizing: border-box;
    }
}

.layout-tabbar {
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-top: 1px solid $gray-200;
}
