@import '../../../variables';

.common-class {
    .styled-body {
        position: absolute;
        height: 100%; width: 100%;
        padding-left: $width-layout-tab-bar-for-web;

        background-color: $background-body;

        .styled-wrap {
            padding: 12px;
            box-sizing: border-box;
        }
    }

    .layout-tab-bar {
        position: absolute; top: 0;
        height: 100%;
        width: $width-layout-tab-bar-for-web;
        padding-top: $height-header;

        background-color: $background-layout;

        .layout-nav-bar {
            height: 100%;

            .ul-nav-bar-menu {
                padding: 0; margin: 0;

                .link-nav-bar-item {
                    text-decoration: none;

                    .li-nav-bar-item {
                        height: $height-tab-bar-item-for-web;

                        &:hover {
                            outline: none;
                            background-color: $background-body
                        }

                        .icon-nav-bar-link, .icon {
                            height: $height-tab-bar-item-for-web;
                            width: $height-tab-bar-item-for-web;
                        }

                        .name-nav-bar-link {
                            font-weight: 500;
                            color: $color-fonts-dark;

                            .mark-item-nav-bar {
                                width: $base*6;
                                height: $base*4;
                                margin: $base 0 0 $base;

                                text-align: center;
                                color: $color-fonts-light;
                                border-radius: 50%;
                                background-color: $color-fonts-dark;
                            }
                        }
                    }
                }
            }

            .ul-nav-bar-menu, .system-menu {
                margin-bottom: $base*20;
            }
        }
    }
}

.dark-theme {
    .styled-body {
        background-color: $background-body-dark;
    }

    .layout-tab-bar {
        background-color: $background-layout-dark;

        .layout-nav-bar {
            .ul-nav-bar-menu {
                .link-nav-bar-item {
                    .li-nav-bar-item {

                        &:hover {background-color: $background-hover-dark}

                        .icon-nav-bar-link, .icon {
                            .icon-item {stroke: $white}
                        }

                        .name-nav-bar-link {
                            color: $color-fonts-light;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .common-class {
        .styled-body {
            padding-left: $width-layout-tab-bar-for-mobil;
        }

        .layout-tab-bar {
            width: $width-layout-tab-bar-for-mobil;

            .layout-nav-bar {
                .ul-nav-bar-menu {
                    padding: 0;

                    .link-nav-bar-item {
                        .li-nav-bar-item {
                            height: $height-tab-bar-item-for-mobil;

                            .icon-nav-bar-link, .icon {
                                height: $height-tab-bar-item-for-mobil;
                                width: $height-tab-bar-item-for-mobil;
                            }

                            .name-nav-bar-link {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
