@import '../../../variables';

// Height elements
$height-layout-topBar:             $base*5;    // 20px
$height-header:                    $base*20;   // 80px
$height-topBar-and-header:         calc(#{$height-layout-topBar} + #{$height-header}); // 100px
$height-layout-tabBar:             calc(100% - #{$height-topBar-and-header});
$height-mobil-big-tabBar-item:     $base*25;   // 100px
$height-mobil-small-tabBar-item:   $base*12;   // 48px

// Width elements
$width-layout-tabBarMax:           $base*50;   // 200px
$width-layout-tabBarMin:           $base*25;   // 100px

.layout-topBar {
    height: $height-layout-topBar;
    background: $white;
}

.header {
    height: $height-header;
    background: $white;
}

.styled-body {
    height: 100%;
    width: 100%;
    padding-left: $width-layout-tabBarMax;

    background-color: $background-body;

    .styled-wrap {
        padding: 12px;
        box-sizing: border-box;
    }
}

.layout-tabBar {
    position: absolute; top: 0;

    width: $width-layout-tabBarMax;
    height: $height-layout-tabBar;
    margin-top: $height-topBar-and-header;

    background-color: $white;

    .layout-navBar {
        height: 100%;

        .ul-navBar-menu {
            .link-navBar-item {
                text-decoration: none;

                .li-navBar-item {
                    height: $height-mobil-small-tabBar-item;

                    .icon-navBar-link {
                        svg {
                            height: $height-mobil-small-tabBar-item;
                            width: $height-mobil-small-tabBar-item;
                        }
                    }

                    .name-navBar-link {
                        color: $black;
                        font-weight: 500;
                    }

                    &:hover {
                        background-color: $background-body;
                        outline: none;
                    }
                }
            }
        }
    }

    .common-menu {
        padding: 0;
        margin: 0;
    }

    .system-menu {
        padding: 0;
        margin: 0 0 $base*20 0;
    }
}

@media (max-width: 1250px) {
    .styled-body {
        padding-left: $width-layout-tabBarMin;
    }

    .layout-tabBar {
        width: $width-layout-tabBarMin;

        .layout-navBar {
            .ul-navBar-menu {
                .li-navBar-item {
                    height: $height-mobil-big-tabBar-item;

                    .icon-navBar-link {
                        svg {
                            height: $height-mobil-big-tabBar-item;
                            width: $height-mobil-big-tabBar-item;
                        }
                    }

                    .name-navBar-link {display: none !important}
                }
            }
        }
    }
}
