$white:          #fff !default;
$gray-200:       #e9ecef !default;
$gray-400:       #ced4da !default;
$gray-600:       #6c757d !default;
$gray-800:       #343a40 !default;
$black:          #000 !default;

$primary:        #FFB455 !default;
$green:          #45CD82 !default;
$red:            #FE5B76 !default;
$yellow:         #fab615 !default;

$text-color:     #2f577a !default;
$sub-text-color: #8da3b6 !default;

$background-body:     #f8f9fb;
$background-layouts:  $black;
$background-icons:    $black;

$text-color-input:       #7298f8;
$label-color:            #638DF8;
$color-red:              #FE5B76;

// fonts
$heading:             3em; // h1

$base:                4px;
$base2:               $base*2;

$border-default:     1px solid $gray-200;
