$white:          #fff !default;
$gray-200:       #e9ecef !default;
$gray-400:       #ced4da !default;
$gray-600:       #6c757d !default;
$gray-800:       #343a40 !default;
$black:          #000 !default;

$primary:        #FFB455 !default;
$green:          #45CD82 !default;
$red:            #FF6E56 !default;
$yellow:          #fab615 !default;

$text-color:     #2f577a !default;
$sub-text-color: #8da3b6 !default;

$background-body:     #f8fbfe;
$background-layouts:  radial-gradient(at top, #285477, #1d405d);
$background-icons:    radial-gradient(at top, #fab615, #f47d1f);

// fonts
$heading:             3em; // h1

$base:                4px;
$base2:               $base*2;

$border-default:     1px solid $gray-200;
