//- Colors
$white:                        #FFFFFF !default;
$black:                        #000000 !default;

//- Default light theme
$the-lightest:                 #FFFFFF;
$lighter:                      #E9ECEF;
$light:                        #CED4DA;
$less-light:                   #6C757D;

$light-common-background:      $the-lightest;
$light-wrap-background:        $lighter;
$light-layout-background:      $light;
$light-element-background:     $less-light;

//- Dark theme
$the-darkest:                  #121212;
$darker:                       #1c1c1c;
$dark:                         #262626;
$less-dark:                    #333333;

$dark-common-background:      $less-dark;
$dark-wrap-background:        $dark;
$dark-layout-background:      $darker;
$dark-element-background:     $the-darkest;

//- Common
$base:                        4px;
$base2:                       $base*2;

$border-default:              1px solid #E9ECEF;
